.ChatListItem {
    background-color:#fbfbfb;
    padding:3px;
    min-height:10px;
    position:relative;
    border-bottom: 1px solid;
    border-bottom-color: #eeeeee;
}
.ChatListItem .user-name
{
    color:gray;
    position: absolute;
    font-weight:bold;
    color:black;
    width: 60px;
    text-align: center;
    padding:3px;
}
.ChatListItem  .post-time
{
    color:#bbbbbb;
    bottom: 5px;
    right:10px;
    position: absolute;
}
.ChatListItem .message
{
    display:inline-block;
    background-color:#ffffff;
    padding:3px;
    border-radius:8px;
    margin-left:120px;
    font-size:16px;
}